<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>info</key>
	<dict>
        <key>author</key>
		<string>Parking Sun</string>
		<key>description</key>
        <string>Even in your basement office, spores seep in from the outside. Boards warp, microscopic creatures breed in the carpet, and vines strive toward the warmth of your skin. The city evolves too, breathes too, dreams too.

In the distance the mating cry of the automobile, and beneath the pavement, the swamp.

Presented to Miriam Lyons to mark the occasion of her 31st birthday.

This </string>
		<key>name</key>
		<string>Feral</string>
		<key>category</key>
		<string>Shake</string>
	</dict>
</dict>
</plist>
